GAUL_ADMIN_L0=https://strabon.di.uoa.gr/gaul/g2015_2014_0.zip
GAUL_ADMIN_L1=https://storage.googleapis.com/fao-maps-catalog-data/boundaries/GAUL_2024_L1.zip
GAUL_ADMIN_L2=https://storage.googleapis.com/fao-maps-catalog-data/boundaries/GAUL_2024_L2.zip
LINKING_DIR_PATH=/home/kwts/Desktop/SpatialKG/data/OSM/countries/links_dir
COUNTRIES_CSV=/home/kwts/Desktop/topos-update-tool/test.csv
WIKIDATA_UPPER_PATH=/home/kwts/Desktop/SpatialKG/data/OSM/wikidata_P131.nt
